#next_module{
    position:absolute;
    bottom:10px;
    right:0px;
}


#previous_module{
    position:absolute;
    bottom:10px;
    left:25%;
}

.app-nav a{
    background-color: #00274c;
    color: #ffcb05
}

#blue_ml_logo{
    float: left;
    height: 100px;
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;

}