#next_module{
    position:absolute;
    bottom:0px;
    right:0px;
}


#previous_module{
    position:absolute;
    bottom:0px;
    left:0px;
}

.app-nav a{
    background-color: #00274c;
    color: #ffcb05
}

#blue_ml_logo{
    float: left;
    height: 100px;
}

#search{
    position: relative;
    float: left;
    height: 50px;

}

#search1{
    position: relative;
    float: left;
    height: 50px;
}

#folder1{
    position: relative;
    float: left;
    display: block;
}

#folder2{
    position: relative;
    display: block;
    float: left;

}

#folder3{
    position: relative;
    display: block;
    float: left;

}

#folder4{
    position: relative;
    display: block;
    float: left;
}

.data_buttons{
    background-color: #00274c;
    color: white;
}

.pane{
    /*background: linear-gradient(#fafcfe,#fafcfe 95%,#eef1f3);*/
    border: 1px solid #def;
    box-shadow: 0 2px 3px #666;
    margin: 0 0 2%;
    padding: 0;
    text-align: left;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    background-color: #fff;
}






