.file_upload tr > *:nth-child(3) {
    display: none;
}
.file_upload tr > *:nth-child(4) {
    display: none;
}



#add_another_upload_button {
    position: fixed;
    left: 50px;
    background-color: #00274c;
    color: #ffcb05
}


#upload_button{
    position: fixed;
    right:50px;
    background-color: #00274c;
    color: #ffcb05
}