<!-- Training Data Page goes here -->
<div id="Training Data Page" class = "module" >

    <br/>
    <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" title="Please select the training data!"></span>
    <br/>

    <fieldset class="folders">

        <form>
            <input type="text" placeholder="Search for a dataset" id= "search" required>
            <input type="button" value="Search" id="search1">
        </form>

    </fieldset>

    <div class="pane">
        <div class="container">
            <div class="row-fluid">
                <div class="span4 folder1">
                    <button type="submit" class="data_buttons">
                        MIT
                        <br/>
                        <img src="./static/images/white.png" width="300" height="200"/>
                    </button>
                    <div class="checkbox">
                        <label><input type="checkbox" id="check1">Select Dataset</label>
                    </div>
                </div>
                <div class = "span4 folder2">
                    <button type="submit" class="data_buttons">
                        UCI
                        <br/>
                        <img src="./static/images/white.png" width="300" height="200"/>
                    </button>
                    <div class="checkbox">
                        <label><input type="checkbox" id="check2">Select Dataset</label>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class = "span4 folder3">
                    <button type="submit" class="data_buttons">
                        Berkeley
                        <br/>
                        <img src="./static/images/white.png" width="300" height="200"/>
                    </button>
                    <div class="checkbox">
                        <label><input type="checkbox" id="check3">Select Dataset</label>
                    </div>
                </div>
                <div class = "span4 folder4">
                    <button type="submit" class="data_buttons">
                        Ann Arbor
                        <br/>
                        <img src="./static/images/white.png" width="300" height="200"/>
                    </button>
                    <div class="checkbox">
                        <label><input type="checkbox" id="check4">Select Dataset</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pane2">
        <div class="container">
            <div class="meta_data" id="mit_data" style="display: none">
                <h3>Select Meta Data(MIT)</h3>
                <div class="form-group"  id="mit_gen">
                    <label for="sel1">Gender:</label>
                    <select class="form-control" id="sel1">
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                </div>
                <div class="form-group"  id="mit_age">
                    <label for="pwd">Age: </label>
                    <input type="number" class="form-control" id="pwd">
                </div>
            </div>
            <div class="meta_data" id="uci_data" style="display: none">
                <h3>Select Meta Data(UCI)</h3>
                <div class="form-group">
                    <label for="sel2">Gender:</label>
                    <select class="form-control" id="sel2">
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pwd2">Age: </label>
                    <input type="number" class="form-control" id="pwd2">
                </div>
            </div>

            <div class="meta_data" id="berkeley_data" style="display: none">
                <h3>Select Meta Data(Berkeley)</h3>
                <div class="form-group">
                    <label for="sel3">Gender:</label>
                    <select class="form-control" id="sel3">
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pwd3">Age: </label>
                    <input type="number" class="form-control" id="pwd3">
                </div>
            </div>

            <div class="meta_data" id="aa_data" style="display: none">
                <h3>Select Meta Data(Ann Arbor)</h3>
                <div class="form-group">
                    <label for="sel4">Gender:</label>
                    <select class="form-control" id="sel4">
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pwd4">Age: </label>
                    <input type="number" class="form-control" id="pwd4">
                </div>
            </div>
        </div>
    </div>
    <div class="submit_button">
        <button type="submit" class="data_buttons">
            Submit
        </button>
    </div>
    <!-- Training Data END -->
</div>