
.idea/workspace.xml
/.idea/*
node_modules
.idea/workspace.xml
node_modules

src/app/app.component.js

src/app/app.component.js

src/app/app.component.js

src/app/AnalysisComponent.component.js

.DS_Store
