//  public/index.html 
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    title BlueML
    //  CSS 
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    //  custom styles 
    //  JS  
    //  script(src="libs/angular/angular.min.js")
    //  script(src="libs/angular-route/angular-route.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    //  script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js')
    //  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
    //  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='papaparse.min.js')

    //  ANGULAR CUSTOM 
    script(src='js/controllers/ResultsController.js')
    script(src='js/controllers/SubmitController.js')
    //  script(src="js/services/ResultsService.js")
    script(src='js/appRoutes.js')
    script(src='js/app.js')
  body(ng-app='BlueML', ng-controller='ResultsController', style='background-color:#f4f4f4')
    #loader(style='display:none')
    nav.navbar.fixed-top.navbar-dark.bg-primary
      a.navbar-brand(href='/', style='color:#FFF') BlueML
      button.btn.btn-dark(type='button', onclick="showHelp()") Help
    br
    br
    br
    .container#welcome
      .col-md-8.helpContent(style='background-color:#fff;border-radius:25px;padding:20px; margin-bottom: 20px;')
        h2 Help information
          br
          br
          p(style="font-size:20px;") Welcome to BlueML! Follow the steps and click on help for more information, specific to each page!
          button.btn.btn-dark(type='button', onclick="hideHelp()", style="margin-left: 85%") Close Help
      .col-md-8(style='background-color:#fff;border-radius:25px;padding:20px;')
        br
        br
        h1
          b BlueML
        p
          | v2.0
          br
        h2 A web-based, open source, machine learning application designed for wavelet-based analysis of EEG waveform data, intended to diagnose cardiac and neurological disorders.
        br
        hr
        a(href='http://socr.umich.edu')
          img(src='http://www.socr.umich.edu/img/SOCR_3D_Logo_UM.png', style='height:100px')
        a(href='https://umich.edu')
          img(src='http://vpcomm.umich.edu/assets/brand/home/logo.png', style='height:105px')
        br
        hr
        br
        button.btn.btn-primary(type='button', onclick='step1(); hideHelp()') Enter
        br
        br
    .container#main
      .col-md-8#progressbar(style='background-color:#fff;border-radius:5px;padding:20px')
        .progress
          .progress-bar.progress-bar-striped#prog(style='width:40%')
      br
      .col-md-8#step1(style='background-color:#fff;border-radius:25px;padding:20px')
        .col-md-8.helpContent
          h2 Help information
            br
            br
            p(style="font-size:20px;") Choose the training dataset. Right now there is only one dataset available, so it will be picked by default.
            button.btn.btn-dark(type='button', onclick="hideHelp()") Close Help
        h1
          b Select Training Data
        br
        h2.
          
          Choose the baseline dataset you wish to classify your dataset against.
          
        br
        p EEG Datasets
        button.btn.btn-outline-info#TUHbutton(type='button', onclick='TUHclicked()')
          | UCI
        //- sup [1]
        //- button.btn.btn-outline-info#CBHbutton(type='button', onclick='CBHclicked()')
        //-   | CBH-MIT Scalp
        //-   sup [2]
        //- button.btn.btn-info#ESRbutton(type='button', onclick='ESRclicked()')
        //-   | Epileptic Seizure Recognition
        //-   sup [3]
        //- p or:
        //- button.btn.btn-outline-info#ownTrainButton(type='button', onclick='ownTrainingReveal()') Choose & Upload Your Own Training Data
        #uploadOwnTrain(style='display:none')
          form(method='POST', action='#', enctype='multipart/form-data')
            //  COMPONENT START
            .form-group
              .input-group.input-file(name='Fichier1')
                span.input-group-btn
                  button.btn.btn-default.btn-choose(type='button') Choose
                | 		

                input.form-control(type='text', placeholder='Choose a file...')
                | 		 
                span.input-group-btn
                  button.btn.btn-warning.btn-reset(type='button') Reset
              | 		
              br
              | 		

              button.btn.btn-success(type='button', ng-click='uploadOwnTrainFile()') Submit
        br
        br
        br
        button.btn.btn-dark(type='button', onclick='showWelcome(); hideHelp()') Previous
        button.btn.btn-primary#step2Button(type='button', onclick='step2(); hideHelp()') Next
        br
        br
        hr
        .accordion#accordionExample
          .card
            .card-header#headingOne
              h5.mb-0
                button.btn.btn-link#referencesButton(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne', onclick='showReferences()') References
            | 		
          
            .collapse.hidden#collapseOne(aria-labelledby='headingOne', data-parent='#accordionExample')
              .card-body
                p [1] https://www.isip.piconepress.com/projects/tuh_eeg/
                | 				

                p [2] Ali Shoeb. Application of Machine Learning to Epileptic Seizure Onset Detection and Treatment. PhD Thesis, Massachusetts Institute of Technology, September 2009.
                | 				

                p [3] Andrzejak RG, Lehnertz K, Rieke C, Mormann F, David P, Elger CE (2001) Indications of nonlinear deterministic and finite dimensional structures in time series of brain electrical activity: Dependence on recording region and brain state, Phys. Rev. E, 64, 061907

      .col-md-8#step2(style='background-color:#fff;border-radius:25px;padding:20px')
        .col-md-8.helpContent
          h2 Help information
            br
            br
            p(style="font-size:20px;") Update a CSV file of your data with at least 74 fields. All fields after 74 will be truncated. Click submit and then click next.
            button.btn.btn-dark(type='button', onclick="hideHelp()") Close Help
        h1
          b Upload Evaluation Data
        br
        h2 upload the data you wish to evaluate for classification and further analysis.
        br
        #uploadOwnTest(ng-controller='SubmitController')
          form(method='POST', action='#', enctype='multipart/form-data')
            //  COMPONENT START
            .form-group
              .input-group.input-file2(name='Fichier1')
                span.input-group-btn
                  button.btn.btn-default.btn-choose(type='button') Choose
                | 		

                input.form-control(type='text', placeholder='Choose a file...')
                | 		 
                span.input-group-btn
                  button.btn.btn-warning.btn-reset(type='button') Reset
              | 		
              br
              | 		

              button.btn.btn-success(type='button', ng-click='uploadOwnTestFile()', onclick='submitTest()') Submit
        input.btn.btn-warning(type='button', value='Reset', onclick='resetA();reset()')
        button.btn.btn-dark(type='button', onclick='step1(); hideHelp()') Previous
        button.btn.btn-primary#evaluationNext(type='button', onclick='myFunction(); hideHelp()' disabled) Next
        br
        br
        hr
        p *Multiple file upload functionality coming in the near future.
      .col-md-8#step3(style='background-color:#fff;border-radius:25px;padding:20px')
        .col-md-8.helpContent
          h2 Help information
            br
            br
            p(style="font-size:20px;") Currently there is only 1 model to choose from, so Naive Bayes is selected by default.
            button.btn.btn-dark(type='button', onclick="hideHelp()") Close Help
        h1
          b Analysis: Choose Model
        br
        h2 choose the model you wish to classify your data with:
        br
        div(style='background-color:#ededed;border-radius:25px;padding:20px')
          h4 
            span Algorithm
            span(style='float:right') Algorithm Complexity
          //- input#ex8(data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='20', data-slider-step='1', data-slider-value='14', disabled)
          br
          input.algorithm_box#naive_bayes(type='checkbox', checked, data-toggle='toggle', data-width='100', data-offstyle='warning', disabled)
          label(for='naive_bayes' style='display:inline')
            span Naive Bayes
            span(style='float:right') O(nK)
          br
          
        br
        br
        br
        br
        button.btn.btn-dark(type='button', onclick='step2(); hideHelp()') Previous
        button.btn.btn-primary#next_ge(type='button', ng-click='getResults()', onclick='step4(); hideHelp()') Next
        br
        br
        hr
        p *More features coming soon.
      .col-md-8#step4(style='background-color:#fff;border-radius:25px;padding:20px')
        .col-md-8.helpContent
          h2 Help information
            br
            br
            p(style="font-size:20px;") You're results have been calculated! This table displays the first 30 entries of the output. To view all of the data, click on the view button. To download the output as a json file, click download.
            button.btn.btn-dark(type='button', onclick="hideHelp()") Close Help
        h1
          b Results
        br
        div(ng-if='diagnosis() == true')
          script(type='text/javascript').
            closepage();
          h5 Your {{res[0].filename}} data file has been successfully processed by our {{res[0].model}} model trained on the {{res[0].dataset}}dataset. The current classification accuracy of our EEG model, per 10-fold binary cross-validation conducted by the BlueML team on the entire {{res[0].dataset}} dataset, is {{res[0].accuracy}}.
          br
          h4
            | The evaluation data you have provided has been indicates, per our trained model, a tendency towards 
            strong {{res[0].disease}}
            | .
          br
          h5 You have uploaded {{res[0].patient}} patient, and below are the first 30 User Diagnose Table:
            br
            br
            button.btn.btn-dark(type='button', onclick="window.open('http://localhost:8080/rest/results','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;") View full output data 
            button.btn.btn-primary#next_ge(type='button', onclick="var a = document.createElement('a'); a.href = 'http://localhost:8080/rest/results'; a.setAttribute('download', 'outputData.json'); a.click();") Download full output data
            br
            br
            br
          h5 Below is the first 30 User Diagnose Table:
            br
            table.ui.celled.table.center.aligned
              thead
                tr
                  th Patient ID
                  th Result For CNN
                  th Result For Naive Bayes
                  th Testing Accuracy
                  th Training Dataset
              tbody
                  tr
                   td {{res[0].userID}}
                   td {{res[0].prediction}}
                   td {{res[0].prediction2}}
                   td 95%
                   td UCI Dataset
                  tr
                   td {{res[1].userID}}
                   td {{res[1].prediction}}
                   td {{res[1].prediction2}}
                   td 95%
                   td UCI Dataset
                  tr
                   td {{res[2].userID}}
                   td {{res[2].prediction}}
                   td {{res[2].prediction2}}
                   td 95%
                   td UCI Dataset
                  tr
                   td {{res[3].userID}}
                   td {{res[3].prediction}}
                   td {{res[3].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[4].userID}}
                   td {{res[4].prediction}}
                   td {{res[4].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[5].userID}}
                   td {{res[5].prediction}}
                   td {{res[5].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[6].userID}}
                   td {{res[6].prediction}}
                   td {{res[6].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[7].userID}}
                   td {{res[7].prediction}}
                   td {{res[7].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[8].userID}}
                   td {{res[8].prediction}}
                   td {{res[8].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[9].userID}}
                   td {{res[9].prediction}}
                   td {{res[9].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[10].userID}}
                   td {{res[10].prediction}}
                   td {{res[10].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[11].userID}}
                   td {{res[11].prediction}}
                   td {{res[11].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[12].userID}}
                   td {{res[12].prediction}}
                   td {{res[12].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[13].userID}}
                   td {{res[13].prediction}}
                   td {{res[13].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[14].userID}}
                   td {{res[14].prediction}}
                   td {{res[14].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[15].userID}}
                   td {{res[15].prediction}}
                   td {{res[15].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[16].userID}}
                   td {{res[16].prediction}}
                   td {{res[16].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[17].userID}}
                   td {{res[17].prediction}}
                   td {{res[17].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[18].userID}}
                   td {{res[18].prediction}}
                   td {{res[18].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[19].userID}}
                   td {{res[19].prediction}}
                   td {{res[19].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[20].userID}}
                   td {{res[20].prediction}}
                   td {{res[20].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[21].userID}}
                   td {{res[21].prediction}}
                   td {{res[20].prediction2}}
                   td 95%
                   td UCI Dataset
                  tr
                   td {{res[22].userID}}
                   td {{res[22].prediction}}
                   td {{res[23].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[23].userID}}
                   td {{res[23].prediction}}
                   td {{res[23].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[24].userID}}
                   td {{res[24].prediction}}
                   td {{res[24].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[25].userID}}
                   td {{res[25].prediction}}
                   td {{res[25].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[26].userID}}
                   td {{res[26].prediction}}
                   td {{res[26].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[27].userID}}
                   td {{res[27].prediction}}
                   td {{res[27].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[28].userID}}
                   td {{res[28].prediction}}
                   td {{res[28].prediction2}}
                   td 95%
                   td UCI Dataset 
                  tr
                   td {{res[29].userID}}
                   td {{res[29].prediction}}
                   td {{res[29].prediction2}}
                   td 95%
                   td UCI Dataset    
              tfoot
              
          h5 Typical patients of this disorder have following symptons:
          ul
            li(ng-repeat='x in res[1].symptoms') {{x}}
          h5 Suggested treatments include:
          ul
            li(ng-repeat='y in res[1].treatments') {{y}}
        div(ng-if='diagnosis() == false')
          h4
            strong Our model does not detect any neurological diseases
            | !
            br
            br
          br
        br
        br
        br
        br
        button.btn.btn-dark(type='button', onclick='step3(); hideHelp()') Previous
        br
        br
        hr
    script(src='js/code.js', type='text/javascript')
