#next_module{
    position:absolute;
    bottom:3.75rem;
    left: 53%;

}


#previous_module{
    position:absolute;
    bottom:3.75rem;
    right: 47%;
}

.app-nav a{
    background-color: #00274c;
    color: #ffcb05
}


#blue_ml_logo{
    float: left;
    height: 6.25rem;
}

.nav-justified > li > a {
    display: block;
}

#slide {
    width: 6.25rem;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.75rem;
    background-color: #f5f5f5;

}