#next_module{
    position:fixed;
    bottom:0;
    right:0;
}


#previous_module{
    position:fixed;
    bottom:0;
    left:0;
}

.app-nav a{
    background-color: #00274c;
    color: #ffcb05
}

#blue_ml_logo{
    float: left;
    height: 100px;
}


.footer{
    display:block;
    bottom:0;
}