
.folder1{
    position: relative;
    float: left;
    display: block;
}

.folder2{
    position: relative;
    display: block;
    float: left;

}

.folder3{
    position: relative;
    display: block;
    float: left;

}

.folder4{
    position: relative;
    display: block;
    float: left;
}

.folder5{
    position: relative;
    display: block;
    float: left;
}

.data_buttons{
    background-color: #00274c;
    color: white;
}



/*.folder {*/
/*background-color: #444;*/
/*color: #fff;*/
/*border-radius: 5px;*/
/*padding: 20px;*/
/*font-size: 150%;*/

/*}*/

/*.a {*/
/*grid-column: 2 / 3;*/
/*grid-row: 1 / 2;*/
/*}*/
/*.b {*/
/*grid-column: 2 / 3;*/
/*grid-row: 2 / 3;*/
/*}*/
/*.c {*/
/*grid-column: 3 / 4;*/
/*grid-row: 2 / 3;*/
/*}*/
/*.d {*/
/*grid-column: 1 / 2;*/
/*grid-row: 1 / 2;*/
/*}*/

#mit_data{
    float: left;
    position: relative;
    margin-right: 40px;
}

#uci_data{
    float: left;
    position: relative;
    margin-right: 40px;
}

#berkeley_data{
    float: left;
    position: relative;
    margin-right: 40px;
}

#aa_data{
    float: left;
    position: relative;
    margin-right: 40px;
}

.pane{
    background-color: #00274c;
    color: white;
    border: 1px solid #def;
    box-shadow: 0 2px 3px #666;
    margin: 0 0 2%;
    padding: 0;
    text-align: left;
}

.pane2{
    background-color: #00274c;
    color: white;
    border: 1px solid #def;
    box-shadow: 0 2px 3px #666;
    margin: 0 0 2%;
    padding: 0;
    text-align: left;
}





